<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <!-- FileXchanger -->
    <context-param>
        <param-name>eu.artofcoding.redisync.web.LoginBean.LDAP_URL</param-name>
        <param-value>ldap://10.31.21.1:389</param-value>
    </context-param>
    <context-param>
        <param-name>eu.artofcoding.redisync.web.LoginBean.LDAP_BASE_DN</param-name>
        <param-value>dc=RZ-FACT,dc=local</param-value>
    </context-param>
    <context-param>
        <param-name>eu.artofcoding.redisync.web.LoginBean.LDAP_USER_SUFFIX</param-name>
        <param-value>@rz-fact.local</param-value>
    </context-param>
    <context-param>
        <param-name>eu.artofcoding.redisync.web.LoginBean.LDAP_GROUP_DN</param-name>
        <param-value>CN=%s,OU=Zugriff,OU=Benutzergruppen,OU=.Root,DC=RZ-FACT,DC=local</param-value>
    </context-param>
    <context-param>
        <param-name>eu.artofcoding.redisync.web.LoginBean.NEEDED_GROUP</param-name>
        <param-value>Z_Curator_Vorlagen_RW</param-value>
    </context-param>
    <context-param>
        <param-name>eu.artofcoding.redisync.web.UploadBean.BASE_PATH</param-name>
        <param-value>/Users/rbe/factit</param-value>
    </context-param>
    <context-param>
        <param-name>eu.artofcoding.redisync.web.DownloadBean.BASE_PATH</param-name>
        <param-value>/Users/rbe/factit</param-value>
    </context-param>
    <context-param>
        <param-name>eu.artofcoding.redisync.web.DownloadBean.EXTENSIONS</param-name>
        <param-value>docx,doc,odt</param-value>
    </context-param>
    <!-- JSF -->
    <context-param>
        <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
        <param-value>server</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.DEFAULT_SUFFIX</param-name>
        <param-value>.xhtml</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <!-- JSF -->
    <servlet>
        <servlet-name>FacesServlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>FacesServlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
        <url-pattern>*.faces</url-pattern>
    </servlet-mapping>
    <!-- Security -->
    <!--
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>FileXchanger</realm-name>
        <form-login-config>
            <form-login-page>/login.xhtml</form-login-page>
            <form-error-page>/error.xhtml</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <role-name>uploader</role-name>
    </security-role>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>FileXchanger</web-resource-name>
            <url-pattern>/bla</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>uploader</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>NONE</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    -->
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>
